.body-index{
  margin: 0;
  padding: 0;
  background-color: #fff;
    /* background-image: url(../images/background.jpg);  */
	background-repeat: no-repeat;
	background-position: center; 
  background-size: cover;
}
html{
	scroll-behavior: smooth;
}
.head-index {
  text-align: center;
  padding:1px;
  background-color: #333;
}
.hero {
  text-align: center;
}
.cta {
  text-align: center;
  padding: 5px;
  background-color: #47a8f5;
  color: #fff;
}
.index-foot {
  text-align: center;
  padding: 10px;
  background-color: white;
  color: black; 
}
.ul-menu{
	flex-direction: row;
	gap: 20px;
	position: -webkit-sticky;
	position: sticky;
	top:0%;
	padding-top: px;
	margin: 20px;
}
.ul-menu .menu1{
	float: left;
	margin-right: 10px;
}

.log{
	float: right;
	color: red;
}
ul{
	list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  background-color:#333;
  padding:30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  top:0;
}
.features li{
	color: #47a8f5;
}
.features h2{
	margin-bottom: 5px;
}
.features p{
	margin-bottom: 10px;
}
.hero{
  color:#333;
}

span {
	color: transparent;
  font-size: 29px;
	animation: blur 10s ease-out infinite;
	-webkit-animation: blur 10s ease-out infinite;
}

span:nth-child(1) {
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}
span:nth-child(2) {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
span:nth-child(3) {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
span:nth-child(4) {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
span:nth-child(5) {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
span:nth-child(6) {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}
span:nth-child(7) {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}

@keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	5%		{text-shadow:  0 0 90px #fff;}
	15%		{opacity: 1;}
	20%		{text-shadow:  0 0 0px #fff;}
	80%		{text-shadow:  0 0 0px #fff;}
	85%		{opacity: 1;}
	95%		{text-shadow:  0 0 90px #fff;}
	100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}

@-webkit-keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	5%		{text-shadow:  0 0 90px #fff;}
	15%		{opacity: 1;}
	20%		{text-shadow:  0 0 0px #fff;}
	80%		{text-shadow:  0 0 0px #fff;}
	85%		{opacity: 1;}
	95%		{text-shadow:  0 0 90px #fff;}
	100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}
.glass{
  /* Frosted glass affect */
  -webkit-backdrop-filter: blur(8px); 
  backdrop-filter: blur(8px); 
}
.features {
padding-top: 15px;
	background:transparent;
box-shadow: 0 8px 32px 0 rgba(34, 40, 114, 0.37);
backdrop-filter: blur( 8.5px );
-webkit-backdrop-filter: blur( 8.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
position:-webkit-sticky; 
  position:sticky; 
height:210px;
align-items: center;
justify-content:center ;
margin-left: 20px;
text-align: center;
font-size: 16px;
margin-right: 20px;
padding-bottom: 10px;
}
.body-login{
	margin:0;
	color:#6a6f8c;
	background: whitesmoke;
	font:12px 'Open Sans',sans-serif;
	background-repeat: no-repeat;
	background-position: center; 
  background-size: cover;
  height: auto; 
}
.login-wrap{
	padding-top: 15px;
	background-color: rgba(82, 74, 74, 0.18);
/* box-shadow: 0 8px 32px 0 rgba(34, 40, 114, 0.37); */
backdrop-filter: blur( 8.5px );
-webkit-backdrop-filter: blur( 8.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 250px;
height:350px;
align-items: center;
justify-content:center;

}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab{
	font-size:16px;
	margin-right:15px;
	padding-bottom:5px;
	margin-top: 10px;
	margin-bottom: 10px;
	display:inline-block;
	border-bottom:1px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#333;
	border-color:#1161ee;
}
.login-form{
	height:490px;
	position:relative;
	transform-style:preserve-3d;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:auto;
	display:block;
	margin-bottom: 4px;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:5px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	/* text-security:circle; */
	-webkit-text-security:circle;
	color: #333;
}
.login-form .group .label{
	color:#292828;
	font-size:12px;

}
.login-form .group .button{
	background-color: rgb(134, 140, 141); 
	border-radius: 25px; 
	border-width: 0;
 	color: white; 
 	cursor: pointer; 
 	display: inline-block;
	font-family: 'Smooch Sans', sans-serif;
	font-size: 12px; 
	height: 25px; 
	padding:0 20px;
	width: 90px;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	/*background:rgba(255,255,255,.1);*/
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:rgb(56, 54, 54);
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#333;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

/* .hr{
	height:2px;
	margin-top: 5px;
} */
.foot-lnk{
	text-align:center;
	margin-top: 5px;
}
.foot-lnk a{
	text-decoration: none;
}
.login-form .group input[type=submit]:hover{
	background-color: white;
	color: black;
	border-radius: 25px;
}
.login-form .group input[type=text]{
	background-color: rgb(75, 71, 71);
	color: white;
	border-radius: 5px;
}
.login-form .group input[type=password]{
	background-color: rgb(75, 71, 71);;
	color: white;
	border-radius: 5px;
}
.body-home {
  font-family: 'Arial', sans-serif;
  background-color: white;
  color: black;
  text-align: center;
  margin: 0;
  margin-top: 0;
  padding: 0;
}
.body-service{
	font-family: 'Arial', sans-serif;
  background-color: white;
  color: black;
  text-align: center;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}
.head-service{
	  background-color: #333;
  color: #fff;
  /* padding: 20px; */
  padding-bottom: 15px;	
}

.head-home{
  background-color: #333;
  color: #fff;
  padding-top: 4px; 
  padding-bottom: 5px;
  text-align: center;
}

section {
  padding: 50px 20px;
}

h1 {
  color: white;
}
	.feature h2 {
  color:#47a8f5;
}
.plr{
  color:white;
}
.feature p {
  font-size: 1.1em;
  line-height: 1.6;
  color: black;
}
.features-home {
  display: flex;
  justify-content: space-around;
  
}
.feature {
      border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    font-family: Snap ITC;
    padding-bottom: 0px;
	background: rgba( 255, 255, 255, 0.25 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
    padding-right: 20PX;
    padding-left: 20px;
}
.feature img {
  width: 100px;
  height: 100px;
}
  .effect01 {
	color: #FFF;
	border: 4px solid #000;
	box-shadow:0px 0px 0px 1px #000 inset;
	background-color: #000;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
  }
  .effect01:hover {
	border: 4px solid #666;
	background-color: #FFF;
	box-shadow:0px 0px 0px 1px grey;
	color: #47a8f5;
	cursor: pointer;
  }    

  .service-section1{
	box-sizing: border-box;
	height: 300px;
	width: 300px;
	border-radius: 20px;
	border: 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
	margin-left: 50px;
  }
  .service-section1{
	margin-top: 2px;
	font-style: italic;
	margin-left: 25px;
	margin-right: 25px;
  }
  .service-section1 p{
	padding-top: 15px;
  }